$dahira-green:#1A8278;
$siga-green-menu: #21A698;
$siga-green-opa66:#6CBFB7;

.bg-header {
    background: #1C2B36;
}
.navbar-light .navbar-brand {
    color: $dahira-green;
}
.navbar-light .navbar-nav .nav-link {
    color: $dahira-green;
}