$dahira-green: #1a8278;
$siga-green-menu: #21a698;
$siga-green-opa66: #6cbfb7;

.bg-header {
  background: #1c2b36;
}
.navbar-light .navbar-brand {
  color: $dahira-green;
}
.navbar-light .navbar-nav .nav-link {
  color: $dahira-green;
}
.dahira-button-header {
  color: $dahira-green;
  cursor: -webkit-zoom-out;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
