<nav class="navbar navbar-expand-lg navbar-light bg-header">
  <a class="navbar-brand" href="#">Touba Toulouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dahira">Dahira</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/actualite">Actualités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/mediatheque">Médiatèque</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/membre">Membre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/commerce">Commerce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div col="row texte-white">login</div>
</nav>