<mat-toolbar class="bg-header">
  <mat-toolbar-row>
    <div class="col col-lg-3 col-sm-2 col-md-4"> 
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon style="color: #fff;">menu</mat-icon>
          </button>
         <span style="color:#1a8278">TOUBA TOULOUSE</span>
    </div> 

<div class="dahira-button-header col col-lg-8 col-sm-5 col-md-5">

    <a mat-button mat-button routerLink="/acceuil"><i class="fa fa-home"><span style="margin-left: 5px !important;">Accueil</span></i></a>
    <mat-divider class="dahira-vertical"></mat-divider>
 
    
  <a mat-button mat-button routerLink="/dahira"><i class="fab fa-dochub"><span style="margin-left: 5px !important;">Dahira</span></i></a>
  <mat-divider class="dahira-vertical"></mat-divider>
  <a mat-button mat-button routerLink="/mediatheque"><i class="fas fa-film"><span  style="margin-left: 5px !important;"> Médiatèque</span></i> </a>
  <mat-divider class="dahira-vertical"></mat-divider>
 
  <a *ngIf="isAdmin()"mat-button mat-button routerLink="/membre"><i class="fas fa-users-cog"><span style="margin-left: 5px !important;"> Membre</span></i></a>
  <mat-divider class="dahira-vertical" *ngIf="isAdmin()"></mat-divider>
  <a mat-button mat-button routerLink="/commerce"><i class="fas fa-dumpster"><span  style="margin-left: 5px !important;"> Commerce</span></i>
  
  </a>
  <mat-divider class="dahira-vertical"></mat-divider>
  <a mat-button mat-button routerLink="/contact"><i class="fas fa-file-contract"><span> Contact</span></i></a>
    </div>
    <div class="col col-lg-1 col-sm-5 col-md-4 texte-white" style="cursor: pointer; padding: 24px;">
      <div *ngIf="!isAuthenticated()"><button mat-button   alt="Connectez vous ou créez un compte"  class="btn dahira-btn-cnx-dcnx" (click)="seConnecter($event)">
        Connexion
      </button>
    
     </div>
      <div *ngIf="isAuthenticated()"> <button mat-button  class="btn dahira-btn-cnx-dcnx" (click)="deconnecter()">
        Deconnexion
       </button>
     </div>
     </div>
  </mat-toolbar-row>
</mat-toolbar>



<!-- <mat-toolbar color="primary"> -->
  <!-- class="d-block d-sm-none" -->
<!-- <div >
<button mat-icon-button (click)="sidenavToogle()">
<mat-icon>menu</mat-icon>
</button>
</div>

<a mat-button class="companyName" routerLink="/">
<span>Touba Toulouse</span>
</a>
<span class="example-spacer"></span>
<div class="d-none d-sm-block">
<a mat-button mat-button routerLink="/dahira">Dahira</a>
<a mat-button mat-button routerLink="/mediatheque">Médiatèque</a>
<a mat-button mat-button routerLink="/membre">Membre</a>
<a mat-button mat-button routerLink="/commerce">Commerce</a>
<a mat-button mat-button routerLink="/contact">Contact</a>

</div>

</mat-toolbar> -->
