$dahira-green: #1a8278;
$siga-green-menu: #21a698;
$siga-green-opa66: #6cbfb7;

.bg-header {
  background: #1c2b36;
  position: fixed; z-index: 2;
}
.navbar-light .navbar-brand {
  color: $dahira-green;
}
.navbar-light .navbar-nav .nav-link {
  color: $dahira-green;
}
.dahira-button-header {
  color: $dahira-green;
  cursor: -webkit-zoom-out;
}

a {
  text-decoration: none;
  color: $dahira-green;
}

a:hover {
  text-decoration: underline #fff;
  color: #fff;
  background: $dahira-green
}


.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}



.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.  
 Every toolbar row uses a flexbox row layout. */
 flex: 1 1 auto;
}

.companyName{
  font-size: 150%;
}

.mat-toolbar{
height: 8vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
background-color: #dde9f3;
min-height: 100vh !important;
}
.dahira-logo{
  font-size: 16px;
  padding: 5px;
  background-color:$dahira-green; 
  border-radius: 12px;
}
a{
  text-decoration: none;
  font-size: 14px;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}

.dahira-btn-cnx-dcnx{
    
  background: #1a8278;
  border: solid 4px #fff;
  color: #fff;
  border-radius: 15px;
  font-size: 12px;
}
