.bg-footer {
    background: #1C2B36;
}
.text-green {
    color: #1A8278;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 1030;
    height: 50px !important;
}