$dahira-green:#1A8278;
$dahira-red:#f44336 ;



  /deep/ .snack-bar-success {
    background-color:$dahira-green;
    color: #fff;
    button{
      color: #fff;
    }
  }

  /deep/ .snack-bar-error {
    background-color: $dahira-red;
    color: #fff;
    button{
      color: #fff;
    }
  }
  