$dahira-green: #1a8278;
.container-fluid {
    width: 100%;
    // padding-right: 24px;
    // padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
    padding: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

 .companyName{
    font-size: 150%;
}

.mat-toolbar{
  height: 7vh;
  background: #1c2b36;
  color: $dahira-green;
}

div {
    overflow: inherit;
}

.mat-sidenav-container{
  background-color: #dde9f3;
  min-height: 150vh !important;
}

.mat-sidenav {
    color: $dahira-green;
    background: #1c2b36;
}
a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

a:hover {
    text-decoration: underline  #fff;
    color: #fff;
    background: $dahira-green;
    width: 100% !important;
}

button{
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-sidenav-content{
      font-size: 200%;
      text-align: center;
  }

 .dahira-side-menu{
    width: 200px;
    top: 63px;
    left: 0;
    z-index: 1000;
    display: block;
    background-color: #1c2b36;
    height: calc(100% - 70px);
    position: fixed;
    overflow: hidden;
 }


 .dahira-menu-selected{

 }