
<app-header [currentUser]="appUser" (sideNaveToggled)="sideNaveToggled($event)"></app-header>
<mat-sidenav-container>
    <mat-sidenav  #sidenav mode="side" class="dahira-side-menu">
        <div class="col dahira-menu-selected">
          <div> <a mat-button  style="margin-top: 10px;" mat-button routerLink="/acceuil"><i class="fas fa-house-damage"><span style="margin-left: 5px !important;">Accueil</span></i></a>
           
         </div>
         <mat-divider class="dahira-vertical"></mat-divider>
            <div><a  mat-button mat-button routerLink="/dahira"><i class="fab fa-dochub"><span style="margin-left: 5px;">Dahira</span></i></a></div>
            <mat-divider style="color:#fff"></mat-divider>
            <div><a mat-button mat-button routerLink="/mediatheque"><i class="far fa-file-video"><span style="margin-left: 5px;">Médiatèque</span></i> </a></div>
            <mat-divider ></mat-divider>
          
            <div *ngIf="isAuthenticated()">  <a mat-button mat-button routerLink="/membre"><i class="fas fa-users-cog"><span style="margin-left: 5px;">Membre</span></i></a></div>
            <mat-divider *ngIf="isAuthenticated()"></mat-divider>
            <div><a mat-button mat-button routerLink="/commerce"><i class="fab fa-buysellads"><span style="margin-left: 5px;">Annonce</span></i>
              </a></div>
              <mat-divider></mat-divider>
              <div> <a mat-button mat-button routerLink="/contact"><i class="fas fa-file-contract"><span style="margin-left: 5px;">Contact</span></i></a></div>
    </div>
      </mat-sidenav>
    
<mat-sidenav-content>

<div >
   

    <div style="overflow-x: hidden;">
      <router-outlet></router-outlet>

  
</div> 
</div>
</mat-sidenav-content>
</mat-sidenav-container>
<!-- 
<div class="col col-lg-2  col-sm-5 col-md-4 col-xs-12" style="margin-top:46px;" >
    <div *ngFor="let khalif of khalifs">
        <app-khalif [khalif]="khalif"></app-khalif>
    </div>
    
  </div> -->

  <app-dahira-scrol-top></app-dahira-scrol-top>
<app-footer ></app-footer> 















<!-- <div class="container-fluid"> 
        <mat-toolbar color="primary">
                class="d-block d-sm-none" -->
          <!-- <div >
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
      
          <a mat-button class="companyName" routerLink="/">
            <span>Touba Toulouse</span>
          </a>
          <span class="example-spacer"></span>
          <div class="d-none d-sm-block">
            <a mat-button mat-button routerLink="/dahira">Dahira</a>
            <a mat-button mat-button routerLink="/mediatheque">Médiatèque</a>
            <a mat-button mat-button routerLink="/membre">Membre</a>
            <a mat-button mat-button routerLink="/commerce">Commerce</a>
            <a mat-button mat-button routerLink="/contact">Contact</a>

          </div>
      
        </mat-toolbar>
        <mat-sidenav-container  class="example-container">
      
          <mat-sidenav color="primary" #sidenav class="col col-lg-2 col-sm-4 col-md-2" mode="over"  opened="false" fxHide.gt-sm="true">
            <div class="col">
                    <div><a mat-button mat-button routerLink="/dahira">Dahira</a></div>
                    <div><a mat-button mat-button routerLink="/mediatheque">Médiatèque</a></div>
                    <div>  <a mat-button mat-button routerLink="/membre">Membre</a></div>
                    <div><a mat-button mat-button routerLink="/commerce">Commerce</a></div>
                    <div> <a mat-button mat-button routerLink="/contact">Contact</a></div>
            </div>
          </mat-sidenav>
          <mat-sidenav-content > -->
              <!-- afficher le contenu de la page -->
              <!-- <div class="row">
         <div class="col col-lg-10 col-sm-8 col-md-9">
                <router-outlet></router-outlet>
            </div>
                <div  class="col col-lg-2  col-sm-4 col-md-3" style="margin-top:46px;">
                        <div *ngFor="let khalif of khalifs">
                                <app-khalif [khalif]="khalif"></app-khalif>
                            </div>
                </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
       
</div> --> 