// .container{
//     background-color: #fff;
// }

.container-fluid {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
    padding: 24px;
    padding-bottom: 80px;
}