<div class="container-fluid">

<h2>Organisation du dahira</h2>

<mat-card  class="dahira-box">
    <mat-card-header>
        <mat-card-title><strong>Le bureau</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
 bureau exécutif du Dahira se compose du Président, de son secrétaire des représentants des 5 Commissions qui structurent le fonctionnement du Dahira.

Il s’agit de :

La Commission des Finances
La Commission Culturelle
La Commission chargée des affaires sociales
La Commission chargée de la communication et des relations extérieures
La commission Organisation et Patrimoine
</mat-card-content>
</mat-card>
<mat-card  class="dahira-box" style="margin-top:24px">
                <mat-card-header>
                    <mat-card-title><strong>Diawrigne et Sécrétaire générale</strong></mat-card-title>
                </mat-card-header>
                <mat-card-content>
            
                                Le Diawrigne

                                Il est le représentant légal du Dahira. Il a responsable du bon fonctionnement du Dahira et doit coordonner l’ensemble des actions et programmes du Dahira. Il siège aussi en tant que président du bureau exécutif qui est l’organe de décision du Dahira.
                                
                                Le secrétaire
                                
                                Le secrétaire tient la correspondance de l’association. Il est responsable des archives, établit les procès-verbaux des réunions, tient le registre réglementaire pour modification des statuts et changement de composition du bureau exécutif. Il participe à la communication interne et externe du Dahira et tient à jour les fichiers des adhérents, des partenaires, des médias, des fournisseurs…
                                
                                Le secrétaire exécutif tient office de vice-président et remplace le Diawrigne en cas d’absence.
            </mat-card-content>
            </mat-card>
<mat-expansion-panel expanded>
    <mat-expansion-panel-header>
       <strong>Les Commissions</strong>
    </mat-expansion-panel-header>
    <mat-tab-group class="tab-border"  animationDuration="2000ms">
        <mat-tab label="Finances">
                        La Commission des finances

                        Dirigée par le trésorier, cette commission a la responsabilité de gérer le Patrimoine financier du Dahira.
                        
                        Ce dernier effectue les paiements, perçoit les sommes dues à l’association, encaisse les cotisations, prépare le compte de résultat et le bilan présentés à l’assemblée générale annuelle où il rend compte de sa mission.
                        
                        Le trésorier est secondé d’un adjoint qui l’aide dans sa mission et le remplace en cas d’absence.
        </mat-tab>
        <mat-tab label="Culturelle" >
           La Commission Culturelle irigé aussi par un responsable de commission, la Commission Culturelle a pour objectif d’assurer toutes les activités culturelles du dahira.
                        
                        Ses prérogatives vont ainsi de la Déclamation de Khassaides assurée par le Kourel aux causeries en passant par les récitation du Saint Coran et des Khassaides (Drouss).
La Commission culturelle a en charge l’animation non seulement événementielle mais aussi des dahira hebdomadaire.

        </mat-tab>
        <mat-tab label="Organisation et Patrimoine">
                        La Commission Organisation et Patrimoine

                        La Commission Organisation et Patrimoine a en charge l’organisation aussi bien des manifestations événementielles que des dahiras hebdomadaires. Elle est ainsi responsable des œuvres mourides (khéwel mis à disposition des mourides lors de ces événements) mais aussi de toutes les tâches inhérentes à ces derniers (Sonorisation, location de Salle etc.).
                        
                        Cette Commisssion a aussi en charge la gestion du Patrimoine matériel du Dahira (tapis, matériels de cuisine etc.).
        </mat-tab>
        <mat-tab label="Communication">
                        La Commission chargée de la communication

                        La Commission Communication a en charge la diffusion des informations relatives au Dahira envers les différents membres mais aussi envers toute la communauté mouride. En tant que chargée des relations extérieures, la Commission Communication assure aussi la communication entre le Dahira et les organismes externes (autres dahiras, fédération, administration etc.).
        </mat-tab>
        <mat-tab label="Sociales">
                        La Commission Chargée des affaires sociales et humanitaires

                        Un des objectifs majeurs du Dahira est d’œuvrer dans l’action humanitaire. Cette grande tâche incombe à la Commission Sociale qui doit coordonner et gérer l’ensemble des actions humanitaires que met en œuvre le Dahira. Cette commission a ainsi en charge la collecte des dons (matériels) qui entrent en dans le cadre de ces activités.
                        
                        A coté de cette tâche, la commission sociale doit aussi entretenir les relations fraternelles entre les différents membres et assister les membres dans le besoin.
      </mat-tab>
    </mat-tab-group>
</mat-expansion-panel>
</div>