hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 18px;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 18px;
    border-top: 100px solid rgba(0,0,0,.1);
}